/*******************************************************
    1. VARIABLES
 ******************************************************/
:root {
    --highlight-color: #ffd84c; /* yellow */
    --light-color:  #fff;       /* white */
    --dark-color: #444;         /* gray */
    --primary-color: #2251a7;   /* blue */
    --secondary-color: #65b504; /* green */
    --tertiary-color: #fc8c00;  /* orange */
}

/*******************************************************
    2. GLOBAL STYLES
 ******************************************************/

html {
    font-size: 10px;
}
body {
    color: var(--dark-color);
    font-family: "Assistant", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}
html, body {
    height: 100%;
    width: 100%;
}
h1, h2 {
    font-family: "Caveat", serif;
}
h1 {
    color:  var(--light-color);
    text-shadow: 2px 2px 2px var(--dark-color);
    font-size: 3.8rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 1.8rem;
}
h2, h3, h4 {
    color: var(--primary-color);
    margin-top: 1.3rem;
}
h6 {
    font-weight: bold;
}
h6, p {
    margin-top: 1rem;
}
a, a:visited {
    color: var(--secondary-color);
}
a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
img {
    height: auto;
}
ol li {
    list-style: decimal;
    list-style-position: inside;
}
/*******************************************************
    3. HEADER & NAV
 ******************************************************/
header {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header button{
    display: none;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu a, .menu label {
    text-decoration: none;
    font-size: 3rem;
}

.menu li a{
    font-size: 1.5rem;
    margin:0;
    font-weight: bold
}

header img {
    width: 150px;
}

nav a, nav a:visited, label i {
    color:  var(--light-color);
    text-decoration: none;
}

nav a:hover, footer a:hover, label i:hover {
    color: var(--highlight-color);
    text-decoration: none;
}

nav a {
    display: block;
}

nav ul li {
    padding: 0.5rem;
}

nav ul.menu {
    display: none;
}

nav input[type=checkbox]:checked ~ ul.menu {
    display: block;
  
}

nav input[type=checkbox] {
    display: none;
}

.showMenu {
    cursor: pointer;
    display: block;
    padding: .3em;
    background-color: var(--primary-color);
    color:  var(--light-color);
}

nav ul.menu li {
    background-color: var(--primary-color);
    text-align: center;
}

nav ul.menu li a {
    color:  var(--light-color);
    display: block;
    padding: 1rem;
}

nav ul.menu li:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

nav input[type=checkbox] {
    display: none; /* Hide the checkbox */
}

/* Submenu */
ul.menu {
    position: relative;
}
nav ul.menu .subMenu {
    left: 0;
    position: absolute;
    display: none;
}
nav ul.menu li:hover .subMenu {
    display: block; /* Show submenu on hover */
}

nav ul.menu .subMenu li {
    background-color: var(--secondary-color);
    color:  var(--light-color);
    text-align: left;
}
nav ul.menu .subMenu li:hover {
    border-radius: 0;
    text-decoration: underline;
}
nav ul.menu .subMenu li:first-child {
    border-radius: 0 5px 0 0 ;
}
nav ul.menu .subMenu li:last-child {
    border-radius: 0 0 5px 5px;
}

/* Search bar */
.search-bar {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    margin-top: 0;
    margin-bottom: 30px;
}

.search-bar input[type=text] {
    border: 2px solid  var(--light-color);
    font-size: 2rem;
    margin: 0;
    width: 100%;
}
.search-bar input[type=text]:hover {
    border: 2px solid var(--dark-color);
    border-radius: 3px;
}

.search-bar button {
    background-color:   var(--light-color);
    color:  var(--dark-color);
    font-size: 2rem;
    margin: 0;
    padding: 0 1rem;
}

/*******************************************************
    4. MAIN BODY CONTENT
 ******************************************************/

main section {
    margin-top: 3rem;
    padding: 2rem;
}

h2 {
    text-align: center;
}
.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

/* Hero Section */
main section.hero {
    background-color: var(--highlight-color);
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

main {
    max-width: 80%;
    margin: auto;
} 
.hero {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
}

.hero img {
    border-radius: 8px;
    /* box-shadow: 2px 2px 2px 2px var(--dark-color); */
    max-width: 70%;
    height: auto;
}


/* Latest Recipes Section */

.recipe-carousel {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    text-align: center;
}

.recipe-carousel img { 
    padding-bottom: 0;
}

.recipe-carousel h3 { 
    padding-top: 0;
    margin-top: 0; 
    margin-bottom: 3rem;
}

.recipe-card {
    display: flex;
    flex-direction: column;
}

.recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Tips & Tricks Section */
.tips-carousel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: auto;
}

.tip-card {
    width: 200px;
    text-align: center;
}

.tip-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.tip-card h3 {
    font-size: 1.8rem;
    text-align: center;
}

.tip-card p {
    font-size: 1.4rem;
    margin-top: 1rem;
}

/* Products Section */


.cookbooks, .cookware {
    width: 200px;
    text-align: center;
    margin: auto;
}

.cookbooks img, .cookware img {
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 8px;
    grid-column: 1/-1;
}


/*******************************************************
    about-us page
 ******************************************************/

.header-mission h1 {
    margin: 0;
    color: #333;
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
    background-color:var(--highlight-color);
    padding: 1rem;
    text-align: center;
    margin:3rem 0;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

/* Mission Section */
.mission {
    background-image: url('../images/about-us-images/header-background.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    text-align: center;
    color: black;
}

.mission-content p {
    background-color: rgba(242, 240, 240, 0.8);
    padding: 3rem;
    display: inline-block;
    margin-top:0;
   
}

/* Journey Section */
.journey {
    display: block;
}
.journey h2 {
    color: black;
    margin: 2rem 0;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 3rem;
    font-size: 2rem;
    color: #333;
    text-align: center; 
}

.journey ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.journey li a{
    font-size: 1.5rem;
    color: black;
    margin-left: 2rem;
}
.journey li a:hover{
    color:var(--primary-color);
    text-decoration: underline;
}

/* Team Section */
.team {
    text-align: center;
    margin: 3rem 0;
    padding-bottom: 2rem;
    
    
}


.team-member {
    background-color: #D9D9D9;
    margin: 3rem auto;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    text-align: left;
    display: flex;
    gap: 2rem;
    display: block;
    text-align: center;
    margin-top: 5rem;
}
.team-section{
    display: flex;
}

.team-member img {
    width: 200px;
    height: auto;
/*    border-radius: 50%;*/
    object-fit: cover;
}

.team-member h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
    font-family: sans-serif;
    padding-bottom: 1rem
}

.team-member p {
    margin: 0.5rem 0 0;
    font-size: 1rem;
    text-align: left;
    padding-left: 2rem;
    color: black;
    font-size: 1.5rem
    
}
/********MAGAZINE-PAGE*******************************************************************/


.magazine{
    padding:2rem 4rem;
    font-size: 1.8rem;
}

.magazine ul{
    list-style-type: circle;
    margin-left: 3rem;
    font-size: 1.5rem;
}
.magazine h3,h4{
    font-family: sans-serif;
    color: black;
    margin: 3rem 0;

}
.magazine h5{
    font-family: sans-serif;
    font-size: 1rem;
    margin: 4rem;
    text-align: end;

}


/*******************************************************
    6. FOOTER
 ******************************************************/
footer {
    background-color: var(--primary-color);
    color:  var(--light-color);
    padding: 2rem;
    text-align: center;
}

footer a, footer a:visited, footer h6 {
    color:  var(--light-color);
}

footer a:hover {
    color: var(--highlight-color);
}
footer nav a, footer a:hover {
    text-decoration: underline;
}
footer i {
    font-size: 2rem;
    padding: 1em;
}
footer i a:hover {
    text-decoration: none;
}
.end-logo img {
    width: 100px;
    padding-right: 15px;
}

.end-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-logo p {
    font-size: 1.5rem;
    margin: 0;
}

.payment-method {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*change for media query*/
}

.payment-method img, .fa-brands  {
    min-width: 30px;
    max-width: 40px;
    margin: auto;
}
.copyright{display: flex;
    
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
justify-content: center;}
.copyright img{ width: 10rem;;
height: auto;}
.copyright p{
    margin-top: 2.5rem;
}


/*******************************************************
    7. FORMS
 ******************************************************/
input[type=submit], button {
    background-color: var(--primary-color);
    border-radius: 5px;
    border: 0;
    color:  var(--light-color);
    font-family: "Assistant", sans-serif;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    font-weight: bold
}

input[type=submit]:hover, button:hover {
    background-color: var(--secondary-color);
    color:  var(--light-color);
    cursor: pointer;
}

input[type=text], input[type=number], input[type=email], input[type=tel], textarea, select {
    border: 1px solid var(--dark-color);
    font-family: "Assistant", sans-serif;
    margin: 1rem 0 2rem;
    padding: .75rem;
    width: 90%;
    display: block;
}

fieldset {
    border: 1px dashed var(--primary-color);
    margin: 2rem 0;
    padding: 2rem;
}

legend {
    color: var(--primary-color);
}

/*******************************************************
    8. MEDIA QUERIES
 ******************************************************/

@media screen and (min-width: 768px) {
    .menu {
        justify-content: flex-start;  /* Align menu items side by side */
        padding-right: 1rem;
        position: static;
        
    }

    nav ul.menu li{
        gap: 5rem;
    }
    nav input[type=checkbox]:checked ~ ul.menu {
    display: flex;
  
}
    
    .menu a {
        font-size: 1.2rem;  /* Adjust font size if necessary */
    }

    /* Show the .menu items side by side */
    nav ul.menu {
        display: flex;
        flex-direction: row;  /* Align menu items horizontally */
      /* Space between menu items */
    }

    /* Hide hamburger menu after 768px */
    .showMenu {
        display: none;
    }

    .menu button { 
        background-color: var(--secondary-color);
        align-items: center;      /* Vertically center */
        display: flex;
        justify-content: center;  /* Horizontally center */
    }    
    .menu button:hover { 
        background-color: var(--highlight-color);
        color:  var(--primary-color);
    }
    .header {
        justify-content: space-between;
       
    }

    div .menu i.fa-cart-shopping{ font-size: 2.5rem}
    
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    
    .copyright {
        grid-column: 1/-1;
    }
    .payment-method{display: block;}
    .payment-method h6{padding-bottom: 4rem;
    font-size: 2rem;}
    .footer-info{
        grid-column: -2/-1;
        
    }
    .footer-info h6{padding-bottom:  2rem;
    font-size: 2rem;}
    section h6{font-size: 2rem;}
   
/***********ABOUT-US*******************************************************/
p {font-size: 2rem;}

    

.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/************OUR-JOURNEY*************************************************************/
    .magazine{
        font-size: 3rem;
    }
    .magazine ul{
        font-size: 2rem;
    }
.journey {
    text-align: center;
}

.journey h2 {
    margin: 3rem 0;
    font-size: 2.5rem;
    color: #333;
}

.journey ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Flexbox for alignment */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-around; /* Center the items */
    gap: 5rem; /* Space between items */
}

.journey ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9; /* Light orange background */
    border-radius: 50%; /* Makes the background round */
    width: 250px; /* Fixed width for round shape */
    height: 250px; /* Fixed height for round shape */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.journey ul li:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
    background-color: var(--highlight-color); /* Change background color on hover */
}

.journey ul li a {
    text-decoration: none;
    color: #444;
    font-weight:600;
    transition: color 0.3s ease;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}



/************TIPS and TRICKS******************************************************/
/* tips and tricks page css */

#tipsTricks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    min-width: 300px;
    margin: auto;
    
}

#tipsTricks h3 {
    color: black;
    font: 2rem "Assistant", sans-serif;
}
#signupTips {
    color: black;
}

.signup-form, .signup-news {
    color: black;
    background-color: rgba(255,216,76,.25);
    width: 100%;
    padding: 20px;
}

.tipsAuthor, .tipsReader {
    color: black;
    background-color: rgba(252,140,0,.25);
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    /*align-content: center;*/
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    padding: 10px;
}

.tipsAuthor img, .tipsReader img {
    border-radius: 8px;
    max-width: 200px;
    margin: auto;
}


/************ADVERTISEMENT******************************************************/
/* advertisement section css */

.adSection {
    width: 100%;
    margin: auto;
}